.banner {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 50px;
    background-color: blanchedalmond;
    font: #af200a;
    padding: 10px 32px 10px;
    border: dotted;
}

#welcome {
    background-color: blanchedalmond;
    text-decoration: underline overline wavy #af200a;
    padding: 5px 10px 5px;
}

.background {
    background-image: url(star.jpg);
    background-size: cover;
    color: #af200a;
    text-align: center;
    padding: 10px;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border: dotted;
  }

body {
    background-color: blanchedalmond;
    font-family: 'Indie Flower', cursive, sans-serif;
}

h3 {
    font-size: 25px;
    font-weight: bold;
    background-color: #af200a;
    color: blanchedalmond;
}

.findme img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  table, td, th {
    border: 3px solid black;
  }

th {
    height: 50px;
    background-color: #af200a;
    color: blanchedalmond;
}

td {
    text-align: center;
}

.gallery {
    text-align: center;
}

.try {
    background-color: black;
    position: relative;
    top: 20px;
    left: 20px;
}
